/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #096dd9 
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34


// 布局
$navbarHeight = 4rem